beautifulsoup4==4.3.2
chardet==2.3.0
gensim==0.10.2
lxml==3.4.0
matplotlib==1.4.2
mock==1.0.1
nltk==3.0.0
nose==1.3.4
numpy==1.9.0
pyparsing==2.0.3
python-dateutil==2.2
pytz==2014.7
readability-lxml==0.3.0.5
requests==2.4.3
scipy==0.14.0
six==1.8.0
wsgiref==0.1.2
